/* Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку */
.lesson-four-task-one button:hover {
    color:red;
    background-color: yellow;
}

/* Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: */

.lesson-four-task-two a:hover {
    background-color:green;
}

/* Завдання №3. Змініть колір тексту відвіданого посилання на жовтий */

.lesson-four-task-three a:visited {
    color:yellow;
}

/* Завдання №4. Змініть колір тексту посилання, яке знаходиться в блоку з ідентифікатором "sidebar", на червоний: */

.lesson-four-task-four #sidebar a:link {
    color:red;
} 

/* Завдання №5. Змініть колір фону кнопки на синій, коли кнопка активна */

.lesson-four-task-five .btn:active {
    background-color:blue;
}

/* Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий: */

.lesson-four-task-six .btn:focus {
    color:orange;
}

/* Завдання №7. Змініть колір тексту та фон елемента, який вказаний в URL як фрагмент, на зелений, коли на нього встановлюється :target: */

.lesson-four-task-seven #target:target {
    color:green;
    background-color:green;
}

/* Завдання №8. Змініть колір тексту на білий та фон елемента на синій при натискані відповідного чекбоксу */

.lesson-four-task-eight input:checked ~ #target {
    color:white;
    background-color:blue;
}

/* Завдання №9. Змінити колір тексту на синій для усіх елементів на сторінці, які написані українською мовою. */

.lesson-four-task-nine p:lang(uk) {
    color:blue;
}

/* Завдання №10. Змінити колір тексту на червоний та фон на жовтий елементів форми, які включені та доступні для введення */

.lesson-four-task-ten input:enabled {
    color:red;
    background-color:yellow;
}

/* Завдання №11. При використанні селектора :disabled змінити фоновий колір на жовтий в полях введення, які є неактивними */

.lesson-four-task-eleven input:disabled {
    background-color:yellow;
}

/* Завдання №12. Встановіть жовтий фоновий колір для елементів <input>, що без атрибута readonly */

.lesson-four-task-twelve input:read-write {
    background-color:yellow;
}

/* Завдання №13. Встановіть жовтий фоновий колір для інпуту з атрибутом readonly. */

.lesson-four-task-thirteen input:read-only {
    background-color:yellow;
}

/* Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні. */

.lesson-four-task-fourteen input:valid {
    background-color: green;
}

.lesson-four-task-fourteen input:invalid {
    background-color: red;
}

/* Завдання №15. Застосувати селектор :optional до текстового поля форми, яке не є обов'язковим для заповнення, і змінити його фон на червоний, */

.lesson-four-task-fifteen textarea:optional {
    background-color: red;
}

/* Завдання №16. Є форма з полем вводу числа, яке може бути від 0 до 100. Задача змінити колір фону поля вводу на червоний, якщо значення не входить до цього діапазону */

.lesson-four-task-sixteen .bg-secondary:out-of-range {
    background-color:red !important;
}

/* Є форма з полем вводу числа, яке може бути від 0 до 100. Задача змінити колір фону на червоний, якщо значення входять до діапазону від 0 до 100. */

.lesson-four-task-seventeen .bg-secondary:in-range {
    background-color:red !important;
}

/* Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону placeholder на червоний , який зникає, коли користувач починає вводити */

.lesson-four-task-eighteen input::placeholder {
    background-color: red;
}

/* Я не знаю як зробити це через атрибут :placeholder-shown, тому що у Кирила на уроці не вийшло зробити плейсхолдер іншим використовуючи ций селектор тому він змінював наступний тег, як я зробив нижче

.lesson-four-task-eighteen input:placeholder-shown ~ span {
    background-color: red;
} */

/* Завдання №19. Застосуйте селектор :focus-within до блоку, який змінює колір тексту на білий та фоновий колір на жовтий при активному стані. */

.lesson-four-task-nineteen .btn-group button:focus-within{
    background-color:yellow;
    color:white;
}  


/* Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний */

.lesson-four-task-twenty form:invalid {
    background-color:red;
}